@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


#parent {
  background-color: #20242b;
}

div {
  background-color: #20242b;
}


/* basic html elements */

body {
  font-family: "Source Code Pro";
  font-size: 16px;
  line-height: 1.5;
  color: rgb(197, 29, 57);
  font-weight: 300;
  margin: 1;
  padding: 0;
}

h1 {
  font-size: 40px;
  color: rgb(197, 29, 57);
}

h2 {
  font-size: 25px;
  color: rgb(197, 29, 57);
}

h3 {
  font-size: 20px;
  color: rgb(197, 29, 57);
}


/* buttons */

button {
  background-color: #20242b;
  border: 2px solid black;  
  border-color: rgb(197, 29, 57);
  padding: 30px;
  text-decoration: none;
  color: rgb(197, 29, 57);
  display: inline-block;
  border-radius: 8px;
}

button:hover {
  border-color:rgb(37, 173, 139);
  color: rgb(37, 173, 139);
}


/* footers */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
}


/* padding and positioning */

.padding-1 {
  padding: 15px;
}

.padding-top-1 {
  padding-top: 100px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


/* flex containers */

.evenly-spaced-items {
  display: flex;
  justify-content: space-between;
}


.pipe-side::after {
  content: "|";
  position: absolute;
  top: 10px;
  margin-left: -2px;
}

.pipe-side::before {
  content: "|";
  position: absolute;
  top: 10px;
  margin-left: -10px;
}

.gray {
  background-color:rgb(197, 29, 57);
}

.radial {
  border-radius: 30px;

}


